In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/admissions_ibd.csv')

In [6]:
df.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10098672,21229395,2142-05-16 04:04:00,2142-05-23 14:15:00,NaN,EW EMER.,P30SZF,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,2142-05-15 15:49:00,2142-05-16 05:45:00,0
1,10098672,21259834,2141-04-13 17:30:00,2141-04-17 19:17:00,NaN,EW EMER.,P77SO2,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,2141-04-13 12:17:00,2141-04-13 18:47:00,0
2,10098672,21921527,2141-06-29 22:55:00,2141-07-03 16:52:00,NaN,URGENT,P816G0,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,NaN,NaN,0
3,10098672,24843492,2142-05-06 07:15:00,2142-05-11 13:39:00,NaN,SURGICAL SAME DAY ADMISSION,P857XC,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,NaN,NaN,0
4,10098672,26570321,2142-01-20 23:24:00,2142-01-28 18:47:00,NaN,EW EMER.,P95PIA,EMERGENCY ROOM,HOME HEALTH CARE,Other,ENGLISH,DIVORCED,WHITE,2142-01-20 19:54:00,2142-01-21 01:07:00,0

In [13]:
pd.pivot_table(df, values='hadm_id', index=['subject_id'], 
               columns=['marital_status'], aggfunc=lambda series: 1.0, fill_value=0.0)

marital_status  DIVORCED  MARRIED  SINGLE  WIDOWED
subject_id
10001186             0.0      1.0     0.0      0.0
10007174             0.0      0.0     1.0      0.0
10018852             0.0      0.0     1.0      0.0
10024331             0.0      1.0     0.0      1.0
10025647             0.0      1.0     0.0      0.0
...                  ...      ...     ...      ...
19971435             0.0      0.0     1.0      0.0
19980334             0.0      1.0     0.0      0.0
19985000             0.0      1.0     0.0      0.0
19987152             0.0      1.0     0.0      0.0
19992881             0.0      0.0     1.0      0.0

[2398 rows x 4 columns]